@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Playfair+Display");
* {
    user-select: none;
    transition: 0.3s ease;
    -webkit-font-smoothing: antialiased;
}

.paper {
    margin: 5vh auto;
    min-width: 55vh;
    max-width: 55vh;
    min-height: 73vh;
    max-height: 100vh;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(50, 50, 90, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    transition: 0.6s ease;
    background: white;
    text-align: center;
}

.paper:hover {
    box-shadow: 0 18px 35px rgba(50, 50, 90, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
    transform: translateY(-1px);
}

.paper img {
    max-width: 100%;
    max-height: 100%;
}

.poster {
    border-radius: 12px 12px 0 0;
    margin-bottom: 2vh;
}

.paper h1 {
    font-size: 2rem;
    color: #303336;
    margin: 2vh 4vw;
    font-family: 'Circular', sans-serif;
}

.paper h2 {
    font-size: 0.4rem;
    color: #A0A6AB;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.paper hr {
    width: 20%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 0;
    border-bottom: 1px solid #E6E9EC;
}

.paper p {
    margin: 2vh 3vw;
    text-align: center;
    padding-bottom: 1vh;
    color: #A0A6AB;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.paper .btn,
a.btn {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    line-height: 20px;
    border-radius: 4px;
    padding: 1vh 2vh;
    letter-spacing: 0.04rem;
    background: #664EF7;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    box-shadow: 0 0px 0px rgba(48, 51, 54, 0.1), 0 0px 0px rgba(0, 0, 0, 0);
}

.paper .btn,
a.btn:hover {
    background: #7C66FF;
    box-shadow: 0 7px 14px rgba(48, 51, 54, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    transform: translateY(-1px);
}

.paper .btn,
a.btn:active {
    box-shadow: 0 4px 6px rgba(48, 51, 54, 0.1), 0 1px 3px rgba(0, 0, 0, 0.12);
    transform: translateY(1px);
}

.fa-row {
    display: flex;
    align-items: flex-end;
}

.space {
    height: 4vh;
}

@media all and (max-width: 1024px) {
    /* screen size until 1024px */
    .paper {
        margin: 5vh auto;
        min-width: 40vh;
        max-width: 50vh;
        height: auto;
    }
}

@media all and (max-width: 500px) {
    .paper {
        margin: 5vh auto;
        min-width: 40vh;
        max-width: 50vh;
        height: auto;
        border-radius: 12px;
        box-shadow: 0 15px 35px rgba(50, 50, 90, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
        transition: 0.6s ease;
        background: white;
        text-align: center;
    }

    .paper h1 {
        font-size: 1.5rem;
        color: #303336;
    }

    .paper p {
        padding-bottom: 1vh;
        font-size: 0.9rem;
    }

    #fa-card {
        font-size: 70%;
    }
}